<table>
    <tr>
        <td>Nombre</td>
        <td>{{ nombre }}</td>
    </tr>
    <tr>
        <td>Apellido</td>
        <td>{{ apellido }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ email }}</td>
    </tr>
    <tr>
        <td>Teléfono</td>
        <td>{{ telefono }}</td>
    </tr>
    <tr>
        <td>Nombre de la mascota</td>
        <td>{{ nombre_mascota }}</td>
    </tr>
    <tr>
        <td>Tipo de consulta</td>
        <td>{{ tipo_consulta }}</td>
    </tr>
    <tr>
        <td>Mensaje</td>
        <td>{{ mensaje }}</td>
    </tr>
</table>